Package: com.powen.afterrespring
Name: AfterRespring
Version: 0.0.2
Architecture: iphoneos-arm
Description: Show your favorite image after respring
Maintainer: powen
Author: powen
Section: Tweaks
Depends: ${ORION}, com.mrgcgamer.libgcuniversal, ws.hbang.common (>= 1.17), firmware (>= 13.0)
